
<h4>Hello <%= @carts.first.order.user.name %>  ,you ordered: </h4>
<br>
<div class="row">
 <div class="col-md-2"></div>
 <div class="col-md-8">

<table class="table">
<tr>

<th>Product</th>
<th>Quantity</th>
<th>Image</th>
<th>Product_id</th>
<th>Price</th>
<th>Delete Product</th>
<br>
</tr>
<% @carts.each do |cart| %>
<% @order.carted_products.each do |carted_product| %>
<tr> 
<td><%= cart.product.name %></td>
<td><%= cart.quantity %></td>
<td><img class="image" src = "<%=cart.product.images.first.url  %>"</td>
<td><%= cart.product_id %></td>
<td><%= cart.product.price %></td>
<td><%= link_to "Remove", "/carted_products/#{carted_product.id}", method: :delete %></td>
<% end %>
</tr>
<%= button_to "Buy Now", "orders/#{@order.id}", class: "btn btn-success", method: :patch %>
  <br>
<br>
<% end %>
<br>
<br> 
<br>
<br>