<!--  <h1>Welcome to New Digital Shop</h1>

 <table class="table table-bordered">
   <tr>
     <th>Product</th>
     <th>Brand</th>
     <th>Price</th>
     <th>Tax</th>
   </tr>
     <% @products.each do |product| %>
       <tr>
       <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
         <td><%= product.name %></td>
         <td><%= product.brand %></td>
         <td><%= product.price %></td>
         <td><%= product.tax %></td>
       </tr>
     <% end %> 
 </table>  -->


  
 <h1>Digital Products</h1>
 <br>
  <div class="row">
  <% @products.each_slice(3) do |three_products| %>
    <div class="row">
      <% three_products.each do |product| %>
      <div class="col-md-4">
      <br>
        <h4><a href="/products/<%= product.id %>"><%= product.name %></a></h4>
        <h4>Brand: <%= product.brand %></h4>
        <h4>Price: <%= product.price %></h4>
        <h4>Tax: <%= product.tax %></h4>
        <img class="images" src="<%= product.images.first.url %>">
      </div>
      <br>
      <% end %> 
    </div>
    <% end %> 
  </div>




  
