<title>Welcome to New Digital Shop</title>

<table>
  <tr>
    <h4>Product: <%= @product.name %><br></h4>
    <br>
    <h4> Brand: <%= @product.brand %><br></h4>
    <br>
    <h4>Price: <%= @product.price %><br></h4>
    <br>
    <h4>Tax: <%= @product.tax %><br></h4>
    <br>
    <h4>Supplier: <%= @product.supplier.name %><h4></td>
    <br>
  <!-- <ul>
  <% @product.categories.each do |category| %> 

  <li>Category:<%= category.name %></li>  
   <% end %> 
   </ul> -->

    <% @product.images.each do |image| %> 
       <img class="images" src="<%= image.url %>">
        <% end %> 
        <br>

<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input type="submit" value="Delete">
<% end %> 
<br>
<br>

  </tr> 
</table>

  <%= form_tag "/carted_products", method: :post do %>
  <br>
 <br>
 <div>
 Quantity <input type="text" name ="quantity">
 <input type="hidden" name ="product_id" value="<%= @product.id %>">
 </div>
 <br>
 <div>
 <input type="Submit" value="Add to Cart">
 </div>

<% end %> 